---
const { product } = Astro.props;
const { id, article,description, img, price } = product;
let imageUrl = img;

if (img === "enlace") {
  imageUrl = "../public/img/products/p_Chicle.png"; // prueba para probar como se ve con una imagen
}
---

<div
  class="bg-white p-8 rounded-lg cursor-pointer shadow-md relative group"
  data-id={id}
  data-description={description}
  data-image-url={imageUrl}
  data-price={price}
>
  <div class="relative flex justify-center items-center">
    <img
      src="../img/products/p_Chicle.png"      
      alt={article}
      class="md:max-w-[300px] w-full max-h-[400px] object-cover transform transition-transform duration-500 hover:scale-110"
    />
    <div
      class="absolute top-4 right-[-3rem] flex flex-col gap-4 opacity-0 transition-all duration-500 ease-in-out group-hover:right-4 group-hover:opacity-100 z-10"
    >
      <span
        class="flex items-center justify-center border border-green-500 h-12 w-12 rounded-full cursor-pointer transition-colors duration-500 ease-in-out hover:bg-green-500 hover:text-white"
      >
        <a href="#">
          <i class="fa-regular fa-eye text-xl"></i>
        </a>
      </span>
      <span
        class="flex items-center justify-center border border-green-500 h-12 w-12 rounded-full cursor-pointer transition-colors duration-500 ease-in-out hover:bg-green-500 hover:text-white"
      >
        <a>
          <i class="fa-regular fa-heart text-xl"></i>
        </a>
      </span>
    </div>
  </div>
  <div class="flex justify-between items-center mt-4">
    <span
    class="flex items-center justify-center border-2 border-green-500 h-16 p-4 rounded-full cursor-pointer text-green-500 transition-colors duration-500 ease-in-out hover:bg-green-500 hover:text-white"
    id={`cart-icon-${id}`}
  >
    <a>
      <i class="fa-solid fa-cart-shopping text-2xl"></i>
    </a>
  </span>

    <p class="text-xl font-semibold text-right">{`${price} Bs.`}</p>
  </div>
  <h3
    class="font-normal text-2xl cursor-pointer text-center mt-4 transition-colors duration-500 ease-in-out hover:text-green-500"
  >
    {description}
  </h3>
</div>

